
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new site has been created on KISSr:</h1>
    <p>
    Site: <a href="http://<%= @site.domain %>//">http://<%= @site.domain %>/</a><br>
    User email: <%= @site.user.email %><br>
    </p>
  </body>
</html>
