#wrapper
  position: relative

.container
  padding-bottom: 10px

#card_month, #card_year
  font-size: 2em
.alert img
  margin: 10px 0
//button,input[type=submit],.button
  @include button(shiny,red)
  &:hover
    color: #fff
    text-decoration: none
